<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Rumbl" %></h1>
  <p>Rumbl out loud.</p>
  <br>
  <%= if @current_user do %>
    <%= link "Users", to: Routes.user_path(@conn, :index) %>
  <% else %>
    <h2>Log in to see Users</h2>
  <% end %>
</section>
